.app {
  &__title {
    color: rgb(5, 5, 53);
    font-size: 65px;
    text-align: center;
    margin: 0;
    padding: 25px;
  }

  @media screen and (min-width: 590px) {
    font-size: 70px;
  }

  @media screen and (min-width: 790px) {
    font-size: 85px;
  }
}
